html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  position: relative;
  background: black;
  width: 500px;
  height: 500px;
}

.parent .child {
  position: absolute;
  width: 100px;
  height: 100px;
  background: aqua;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-height: 80px;
  border-bottom: 1px solid;
  background: white;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 80px;
  border-top: 1px solid;
  background: white;
}

.container {
  margin: 80px 0 80px 0;
  width: 100%;
  display: flex;
}

.container .columns {
  display: flex;
  flex: 1;
  border-right: 1px solid;
  flex-direction: column;
}

.container .columns.large {
  flex: 2;
}

.container .columns .node {
  display: flex;
  min-height: 130px;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

.container .columns .node:hover {
  background-color: blueviolet;
  transform: scale(1.1);
  font-size: 20px;
  color: white;
}

/* Specifity Algorithm */

/* tag - 1 */
/* class name - 10 */
/* id - 100*/
/* inline styles - 1000 */
/* important - 10000 */
